{
	"plugins": [
		"react"
	],
	"extends": [
		"eslint:recommended",
		"plugin:react/recommended"
	],
	"rules": {
		"react/jsx-uses-react": 1
	},
	"settings": {
		"import/resolver": {
			"alias": [
				["reusable-components", "./node_modules/reusable-components/dist/"]
			]
		}
	}
}