@import "src/styling/variables";


.mainSupporter {
	width: 100%;

	margin-top: 4rem;

	font-style: italic;

	hr {
		margin-bottom: 4rem;
	}

	.logoWrapper {
		display: inline-block;
		padding: 0.25rem;
		margin-bottom: 1rem;

		border-radius: $border-radius-small;

		background: rgba(0, 0, 0, 0.2);

		.logo {
			width: 100vw;
			max-width: 18rem;
		}
	}
}