@import "src/styling/variables";


.tile {
	display: flex;
	justify-content: center; // left and right
	align-items: flex-start; // top and bottom

	padding: 3rem;
	margin-top: 3rem !important;
	margin-bottom: 3rem !important;

	border-radius: $border-radius-default;

	background: rgba(0, 0, 0, 0.1);

	.icon {
		width: 100%;
		max-width: 10rem;
	}

	.content {
		padding-right: 3rem;
		padding-left: 3rem;
	}
}
