@import "../../../styling/variables";


.tile {
	display: flex;
	justify-content: center; // left and right
	align-items: flex-start; // top and bottom

	padding: 3rem;
	margin: 0;
	margin-top: 3rem;
	margin-bottom: 3rem !important;

	border-radius: $border-radius-default;

	background: rgba(0, 0, 0, 0.1);

	@include until($tablet) {
		padding: 1rem;
	}

	.icon {
		width: 100%;
		max-width: 10rem;
	}

	.content {
		padding-right: 0.5rem;
		padding-left: 0.5rem;


		@include from($tablet) {
			padding-right: 3rem;
			padding-left: 3rem;
		}
	}

	.children {
		font-size: $size-medium;
	}
}
