@import "src/styling/variables";


.form {
	padding: 2rem 3rem;

	margin: 0 auto;

	.header {
		.teaserImg {
			max-width: 4rem;

			margin-right: 0.5rem;

			display: inline-block;
			float: left;
		}

		p {
			margin-bottom: 2rem;

			color: $dark;

			strong,
			i {
				color: inherit;
			}
		}
	}


	.field {
		margin-bottom: 1rem;

		label,
		input {
			width: 100%;
			display: block;

			padding: 0.5rem 0;
		}

		label {
			font-weight: bold;
		}

		input {
			padding-left: 0.5rem;
			font-size: 1rem;
			color: $dark;

			border-radius: $border-radius-small;
			border: none;

			background: $light;
		}

		&.isCheckbox {
			display: flex;
			justify-content: center; // left and right
			align-items: flex-start; // top and bottom

			padding: 1rem;

			border-radius: $border-radius-small;

			background: $light;

			label:before {
				min-width: 1.25rem;
				min-height: 1.25rem;

				margin-top: 0rem;
				margin-right: 0.5rem;

				display: inline-block;
				content: "";

				border: 2px solid $dark;
				border-radius: $border-radius-small / 2;

				background: transparent;
			}

			input,
			label {
				width: auto;

				padding: 0;

				display: inline;
			}

			input {
				position: absolute;

				max-width: 0;
				max-height: 0;

				cursor: pointer;

				opacity: 0;

				&:checked + label:before {
					border-color: $success-dark;
					background: $success !important;
				}
			}
		}
	}
}