@import "src/styling/variables";


.header {
	position: relative;

	width: 100vw;
	height: 95vh;

	&.video-playing {
		.intro {
			.heading span {
				animation-name: span-fade-in;
			}

			.description {
				animation-name: desc-fade-in;
			}

			.locationContainer {
				animation-name: location-fade-in;
			}
		}
	}

	.video {
		position: relative;
		width: 100% !important;
		height: 100%;

		object-fit: cover;
		object-position: bottom center;

		background: #7DBFD7;
	}

	.intro {
		$baseDelay: 2150ms;
		$letterDelay: 120ms;
		$lettersCount: 9;

		position: absolute;
		top: 40%;
		left: 50%;

		transform: translate(-50%, -50%);

		.locationContainer {
			display: flex;
			justify-content: center; // left and right
			align-items: center; // top and bottom

			opacity: 0;

			animation-fill-mode: forwards;
			animation-duration: 750ms;
			animation-timing-function: ease-out;
			animation-delay: $baseDelay + ($letterDelay * $lettersCount);

			@keyframes location-fade-in {
				to {
					opacity: 1;
				}
			}

			.location {
				display: inline-flex;
				justify-content: center; // left and right
				align-items: center; // top and bottom

				padding: 0.2rem 0.6rem;

				border-radius: $radius-large;

				text-align: center;

				background: rgba(0, 0, 0, 0.45);

				.icon {
					margin-right: 0.25rem;
					font-size: 1rem;
				}
			}
		}


		.heading span {
			text-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.2);
		}

		.description span {
			text-shadow: 0 0.05rem 1rem rgba(0, 0, 0, 0.5);
		}

		.heading {
			margin-bottom: 1rem;

			font-size: 5rem !important;
			font-weight: 900;

			text-shadow:
				0 1px 2px rgba(0, 0, 0, 0.37),
				0 0.25rem 2.5rem rgba(0, 0, 0, 0.1);

			span {
				display: inline-block;

				opacity: 0;
				transform: translateX(-1rem);

				animation-fill-mode: forwards;
				animation-duration: 400ms;
				animation-timing-function: ease-out;

				@for $i from 1 through 20 {
					&:nth-child(#{$i}) {
						animation-delay: #{2150 + $i * 120}ms;
					}
				}

				@keyframes span-fade-in {
					to {
						opacity: 1;
						transform: translateX(0);
					}
				}
			}
		}

		.description {
			line-height: 1.36;
			font-weight: 500;
			text-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);

			opacity: 0;
			transform: translateY(1rem);

			animation-fill-mode: forwards;
			animation-duration: 750ms;
			animation-timing-function: ease-out;
			animation-delay: $baseDelay + ($letterDelay * $lettersCount) + 1000ms;

			@keyframes desc-fade-in {
				to {
					opacity: 1;
					transform: none;
				}
			}
		}
	}
}
