@import "src/styling/variables";


.rootContainer {
	background: rgba(0, 0, 0, 0.6);

	@include until($tablet) {
		&:after {
			position: absolute;
			top: 0;
			right: 0;

			width: 3rem;
			height: 100%;

			content: "";
			display: block;

			background: linear-gradient(
				to right,
				transparent 0%,
				rgba(0, 0, 0, 0.3) 100%
			);
		}
	}

	.container {
		@include until($tablet) {
			overflow-scrolling: touch;;
			overflow: scroll;
		}

		.navItems {
			background: transparent;

			li {
				padding: 0 !important;

				&:last-of-type {
					margin-right: 1.25rem !important;
				}

				&:hover,
				&:active {
					background: transparent !important;
				}

				a {
					padding: 1.5rem 1.25rem !important;

					display: inline-block;

					color: white !important;

					@include until($tablet) {
						padding: 1rem 1rem !important;
					}

					&:hover {
						background: black;
					}
				}
			}
		}
	}
}

.logo {
	margin-left: 1rem;
	font-size: 1.75rem;

	@include until($tablet) {
		display: none;
	}
}

.ctaBtn {
	padding: 0.25rem 0.9rem;

	text-transform: uppercase;

	@include until($tablet) {
		margin-right: 1rem;
	}

	&:after {
		border-left-color: $primary;
	}
}