@font-face {
	font-family: "icon";
	src: url("#{ $icon-font-base-path }/icon.eot?f2dd90c968273274b1873514894427f1?#iefix") format("embedded-opentype"),
url("#{ $icon-font-base-path }/icon.woff2?f2dd90c968273274b1873514894427f1") format("woff2"),
url("#{ $icon-font-base-path }/icon.woff?f2dd90c968273274b1873514894427f1") format("woff");
}

*[class*="icon-"] {
	line-height: 1;

	&:before {
		font-family: icon !important;
		font-style: normal;
		font-weight: normal !important;
		vertical-align: top;
	}
}

.icon-explanation:before {
	content: "\f101";
}
.icon-fullscreen:before {
	content: "\f102";
}
.icon-location:before {
	content: "\f103";
}
.icon-logo:before {
	content: "\f104";
}
.icon-together:before {
	content: "\f105";
}
