@import "variables";

// helper
@import "helper";


::selection,
::-moz-selection {
	color: $white;
	background: lighten($primary, 10%);
}

* {
	hyphens: auto;
}

html,
body {
	font-size: 20px;
}

.button {
	font-weight: bold;
}