// paths
$icon-font-base-path: "../assets/fonts/icon";

// animations
$easing-default: 200ms ease-in-out;

// shadows
$shadow-default:
	0 2px 6px 0 rgba(0, 0, 0, 0.13), 0 2px 16px 0 rgba(0, 0, 0, 0.09),
	0 2px 0.1rem rgba(0, 0, 0, 0.2);
$shadow-small: 0 2px 0.25rem rgba(0, 0, 0, 0.4);

// borders
$border-radius-default: 1rem;
$border-radius-small: 0.4rem;

$title-weight: 900;
$title-strong-weight: 900;

// colors
$primary: #5EA047;
$success: #5EA047;
$warning: #F1675C;
$dark: #39261F;
$link: white;
$link-hover: rgba($link, 0.8);

.content a {
	padding: 0 0.25rem;

	border-radius: 0.25rem;

	background: rgba(white, 0.1);
}

// font
$family-primary: "Alegreya";
$family-sans-serif: "Alegreya";
$family-secondary: $family-sans-serif;

$text: white;
$strong-color: $text;


$title-color: $text;
$title-family: $family-primary;
$title-weight: 700;

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

// subtitle
$subtitle-color: transparentize($text, 0.5);
$subtitle-color-light: #bdcae2;
$subtitle-family: $family-sans-serif;
$subtitle-weight: 700;

.subtitle {
	letter-spacing: 0.15rem;
}

// navbar
$navbar-background-color: $primary;

// body
$body-background-color: #D69D7F;
$body-family: $family-secondary;



// bulma
@import '~bulma/sass/utilities/all';