@import "src/styling/variables";


.header {
	margin-bottom: 3rem;

	.icon-wrapper {
		.icon {
			width: 100%;
			max-width: 9rem;
		}
	}


	.description {
		max-width: 24rem;
		margin: 0 auto;

		text-align: center;
		font-size: 1.25rem;
	}
}
